{{!-- views/components/solicitar-prestamo-page/solicitar-prestamo.hbs --}}
{{#*inline "styles"}}
<link rel="stylesheet" href="/components/solicitar-prestamo-page/solicitar-prestamo.css">
{{/inline}}

<div class="container solicitar-prestamo">
    <div class="row justify-content-center mt-5">
        <div class="col-12 text-center">
            <h2 class="title">SOLICITAR PRÉSTAMO</h2>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-8 col-lg-6">
            <form class="text-center">
                <div class="form-group mb-3">
                    <label for="codigoSolicitante" class="form-label">Código del solicitante:</label>
                    <input type="text" id="codigoSolicitante" class="form-control form-control-lg" placeholder="Código del solicitante">
                </div>
                <div class="form-group mb-3">
                    <label for="tituloLibro" class="form-label">Título del libro:</label>
                    <input type="text" id="tituloLibro" class="form-control form-control-lg" placeholder="Título del libro">
                </div>
                <div class="form-group mb-3">
                    <label for="fechaPrestamo" class="form-label">Fecha del préstamo:</label>
                    <div class="input-group">
                        <input type="text" id="fechaPrestamo" class="form-control form-control-lg" placeholder="Fecha del préstamo">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">SOLICITAR</button>
            </form>
        </div>
    </div>
</div>
